// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// ion-content ion-toolbar {
//   --background: translucent;
// }
.calc-main {
  background-color: #000000;
  height: 100%;
}

.calc-display {
  background-color: #000000;
  padding: 60px 15px 20px;
}

ion-input {
  color: #ffffff;
  font-size: 48px;
}

ion-col {
  padding: 0;
  margin: 0;
  text-align: center;
}

ion-button {
  height: 50px;
  width: 50px;
  border-radius: 50;
  font-size: 20px;
}

.double-width {
  width: 86%;
}